# https://github.com/matrix-org/synapse/blob/develop/docs/reverse_proxy.md

maugerkom.org {
    reverse_proxy /_matrix/* http://synapse:8008 
    reverse_proxy /_synapse/client/* http://synapse:8008
}

maugerkom.org:8448 {
    reverse_proxy http://synapse:8008 
}
